html{
  background-color: rgb(255, 255, 255)
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(234, 250, 255);
}

/* EN-TETE */

header{
  grid-row: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(173, 216, 230);
  padding: 10px;
  margin: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
}

#home {
  text-decoration: none;
  color: black;
}

header nav ul li a:hover {
  background-color: rgb(255, 255, 255);
}

/* CONTENU */

main {
  grid-row: 2;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}

/* PIED DE PAGE */

footer {
  grid-row: 3;
  text-align:  center;
  background-color: lightblue;
  padding: 10px;
}

@media (max-width: 600px) {
  body {
    background-color: orange;
  }

  nav{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 350px) {
  body {
    background-color: red;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}