body {
    margin: 0;
    height: 100vh;    
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
}

#entete {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    margin: 10px;
    height: 400px;
    width: 800px;
}