@font-face {
    font-family: "MarianneBold";
    src: url(fonts/Marianne/Marianne-Bold.otf);
}

/* Styles générales */

img {
    width: 250px;
    height: auto;
}

/* Styles du corps de la page */

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    padding: 1em;
}

h1{
    font-family: "MarianneBold";
}

/* Styles de l'en-tête */

header {
    margin-bottom: 30px;
    padding: 20px; /* marge interne */
    background-color: #f2f2f2;
    grid-column: 1 / span 2;
    grid-row: 1;

}

header nav {
    background-color: lightgray;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;

}

header nav ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover, footer a:hover {
    color: #007BFF;
    background-color: yellow;
}

header button a, a:hover {
    text-decoration: none;
    color: black;
}

#titre {
    color: blue;
    text-align: center;
}

/* Styles du contenu principal */

aside {
    grid-row: 2;
    grid-column: 1;
    background-color: lime;

}

main {
    margin: 20px;
    grid-column: 2;
    grid-row: 2;
}


/* Styles du pied de page */

footer {
    margin-top: 30px;
    text-align: center;
    padding: 40px;
    background-color: #f2f2f2;
    grid-column: 1 / span 2;
    grid-row: 3;
}

footer a, footer button a:hover {
    text-decoration: none;
    color: #000000;
    background-color: inherit;
}


#contact {
    width: 50%;
    height: 50%;
    margin: auto;
}

#contact #contactform {
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px 10px 10px 10px;
}

#today {
    font-size: 30px;
    font-weight: bold;
    color: #ca3131;
}